.logo-mobile {
  max-width: 300px;
  margin-top: 50px;
}

.leaves-left-mobile {
  position: fixed;
  width: 200px;
  top: 320px;
  left: 0;
  z-index: 10;
}

.what-is-ul-mobile {
  text-align: left;
  font-weight: bolder;
  color: white;
  font-size: 1.1rem;
  list-style-image: url("../assets/images/bullet.svg");
  padding-left: 15px;
  text-shadow: 0px 0px 1px white;
  margin-bottom: 0;
}

.what-is-ul-mobile li {
  padding-bottom: 25px !important;
  margin-bottom: 0;
}

.info-mobile {
  text-align: left;
  padding-left: 20px;
  padding-right: 50px;
}

.register-mobile-container {
  padding-left: 20px;
  padding-right: 20px;
}

.info-mobile .how-to-title {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.info-mobile .what-is-title {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.leaves-mobile-register {
  position: absolute;
  top: 280px;
  right: 0;
  width: 200px;
}

.nuts-mobile-register {
  position: absolute;
  top: 320px;
  left: 0;
  width: 150px;
}

.voucher-container-mobile {
  width: 80%;
  background-color: #bf2433;
  border: solid;
  border-color: black;
  margin: auto;
  position: relative;
  z-index: 20;
  padding: 20px;
}

.voucher-mobile {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-voucher {
  max-width: 200px;
  margin-top: 25px;
}

.congrats-mobile {
  width: 200px;
  margin-top: 40px;
}

.code-mobile {
  background-color: white;
  text-align: center;
  border: none;
  padding: 8px;
}

.code-mobile p {
  font-weight: bolder;
  color: black;
  font-size: 2rem;
  padding-bottom: 30px;
  text-shadow: 0px 0px 1px black;
  margin: 0;
  padding: 0;
}

.terms-txt-mobile {
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 1px white;
  font-size: 0.8rem;
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.link-txt-mobile {
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 1px white;
  font-size: 1rem;
}

.flower1-mobile {
  position: absolute;
  width: 40px;
  top: 30px;
  left: -15px;
  z-index: 25;
}

.flower3-mobile {
  position: absolute;
  width: 57px;
  top: -22px;
  right: -15px;
}

.fail-inner-mobile {
  margin-top: 70px;
}

.fail-logo {
  max-width: 200px;
  margin: auto;
  padding-top: 20px;
}

.fail-mobile {
  margin: auto;
}

.fail-title-mobile {
  font-weight: 800;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 1px white;
  padding-left: 45px;
  padding-right: 45px;
}
