.share-buttons {
  display: flex;
  flex-direction: row;
  width: "100%";
  justify-content: center;
}

.share-btn {
  max-width: 50px;
  margin: 20px;
  cursor: pointer;
}

.share-btn:hover {
  transform: scale(1.2);
}
