@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

.App {
  text-align: center;
  background-color: #aa1e2d;
  min-height: 100vh;
  font-family: "Abhaya Libre", serif;
  text-shadow: 0px 0px 1px white;
}
